.container {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.list {
  padding: 0;
}

.listContainer {
  margin: 20px 0;
}
.header {
  text-transform: uppercase;
  color: #7b68ee;
  margin: 0;
}
