$calendar-svg: url("./calendar.svg");

.item {
  font-size: 12px;
  list-style-type: none;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
  position: relative;
  .text {
    margin-left: 30px;
  }
  .icon {
    width: 20px;
    height: 20px;
    background-image: $calendar-svg;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dateContainer {
    float: right;
    display: flex;
  }
  .date {
    margin: 0 15px;
  }
}

.warning {
  color: #fe962a;
}

.urgent {
  color: #f22527;
}
